
h1 { 
     color:#f29400;
	 font-size: 120%;
}

h2 {
     color:#f29400;
	 font-size: 100%;
     padding-top: 0.2ex;
     padding-bottom: 0.2ex;
	 margin-bottom: 2.2ex;
}

p {
	font-size: 0.8em;
}

label {
	display: block;
	float: left;
    position: relative;
    padding-left: 10px;
	width: 18ex;
    }

.clickbutton {
    margin-top: 0.4ex;
    color:#3a3737;
}
