/* common formatting */


#banner {
	margin: -8px;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	background: url(../img/dots.png);
	height: 80px;
}

#banner-right {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}

#banner-left {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 25px;
	top: 5px;
}

#menu {
	margin: 0;
	margin-left: -8px;
	margin-right: -8px;
	position: relative;
	font-size: 0.9em;
	color: white;
	background-color: #003366;
	height: 3.1ex;
}

#menu span {
	position: absolute;
	right: 1ex;
	top: 3px;
}

#menu a {
	color: white;
	font-size: 0.8em;
	text-decoration: none;
	padding-left: 1ex;
	border-left-width: 1px;
	border-left-color: #666666;
	border-left-style: solid;
}

body {
	margin: 8px;
	min-width: 550px;
}


h1 { 
     color:#f29400;
	 font-size: 120%;
}

h2 {
     color:#f29400;
	 font-size: 100%;
     padding-top: 0.2ex;
     padding-bottom: 0.2ex;
	 margin-bottom: 2.2ex;
}



/* register formatting */

p {
	font-size: 0.8em;
}

label {
	display: block;
	float: left;
    position: relative;
    padding-left: 10px;
	width: 18ex;
    }

.clickbutton {
    margin-top: 0.4ex;
    color:#3a3737;
}



/* memory table formatting */


.karte {
    margin: 1ex;
  position: relative;
  z-index:1;
}

/* .flagge */
/* { */
/* position: absolute; */
/* z-index:2; */
/* } */

/* #flagge1 { */
/* top:35px; */
/* left:140px; */
/* } */

/* #flagge2 */
/* { */
/* top:35px; */
/* left:18px; */
/* } */

#container {
  padding-left: 22ex;
}

#container .column {
  float: left;
  position: relative;
}

.memoryReihe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#memorybrett {
/*  margin: 50px;*/
/*  float: left;*/

  width: 100%;
  background: orange;
}

#Spielinformationen
{
  width: 22ex;
/*  padding: 0 3ex;*/
  right: 22ex;
  margin-left: -100%;

/* margin-left: -100%; */
/* right: 22ex; */
/* padding: 8px; */
float: left;
/* width: 22ex; */
color: white;
background-color: #003366;
}

#footer {
  clear: both;
}


#Spielinformationen ul {
  font-size: 0.8em;
}

#Spielinformationen p, #Spielinformationen th, #Spielinformationen td {
  font-size: 0.8em;
}


#Spielinformationen th, .orangeBold {
  color:#f29400;
  font-weight: bold;
  text-align: left;
}

#Spielinformationen td {
  text-align: center;
}

#Spielinformationen td, #Spielinformationen th {
  padding-left: 3px;
  padding-right: 3px;
}
