#banner {
	margin: -8px;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	background: url(../img/dots.png);
	height: 80px;
}

#banner-right {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}

#banner-left {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 25px;
	top: 5px;
}

#menu {
	margin: 0;
	margin-left: -8px;
	margin-right: -8px;
	position: relative;
	font-size: 0.9em;
	color: white;
	background-color: #003366;
	height: 25px;
}

#menu span {
	position: absolute;
	right: 1ex;
	top: 0.4ex;
}

#menu a {
	color: white;
	font-size: 0.8em;
	text-decoration: none;
	padding-left: 1ex;
	border-left-width: 1px;
	border-left-color: #666666;
	border-left-style: solid;
}

body {
	margin: 8px;
}
